body{
    background-color:black;
    color:white;
    display:flex;
    h1{
        font-size:32px;
    }
    .big-picture{
        @extend h1;
        color:red;
        &.with-italic{
            font-style: italic;
            font-weight: bold;
            color:green;
            font-size:10px;
        }
    }
}