<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="css/app.styles.css">
    </head>
    <body>
        
        <div class="chat-wrapper">
            <div class="header">
                <h5>Realtime Chat Application</h5>
            </div>

            <div class="row">
                <div class="col s4">
                    <ul id="socket-users" class="users">
                        <!--USERS COME HERE DYNAMICALLY   -->
                    </ul>
                </div>
                <div class="col s8">
                    <ul id="message-wrapper" class="messages">

                        <!--MESSAGES COME HERE DYNAMICALLY-->

                        <!--<li class="message"><span class="user-name">Aleš</span><p>s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></li>
                        <li class="message"><span class="user-name">Marjan</span><p>s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></li>
                        <li class="message"><span class="user-name">Aleš</span><p>s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></li>-->

                     </ul>
                </div>
            </div>
            

            <div class="input-message hide">
                <div class="input-field">
                    <textarea id="chat-message" class="materialize-textarea"></textarea>
                    <label for="chat-message">Enter your message...</label>
                </div>
                <div class="input-button">
                     <a class="btn-large" id="chat-message-send"><i class="material-icons">message</i></a>
                </div> 
            </div>
            <div class="input-username">
                <div class="input-field">
                    <input id="username" type="text">
                    <label for="username">Username</label>
                </div>
                <div class="input-button">
                     <a class="btn-large" id="set-username"><i class="material-icons">mode_edit</i></a>
                </div> 
            </div>
        </div>

        <div class="private-chat-wrapper">
            <ul class="private-chat-list">
                <li data-socket-id="id" class="private-chat"> 
                    <span class="user-name">
                        Marjan
                    </span> 
                    <div class="user-text">
                        <ul class="private-messages-wrapper">
                            <li class="private-message"> <div class="username">Aleš</div>Ye yoydasodoasd. Retardorino. LALALALLA </li>
                            <li class="private-message"> <div class="username">Marjan</div>Ye yoydasodoasd. Retardorino. LALALALLA </li>
                            <li class="private-message"> <div class="username">Aleš</div>Ye yoydasodoasd. Retardorino. LALALALLA </li>
                            <li class="private-message"> <div class="username">Marjan</div>Ye yoydasodoasd. Retardorino. LALALALLA </li>
                        </ul>
                        <div class="input-field">
                            <input class="message private-chat-send" type="text" placeholder="Your message..">
                        </div>
                    </div> 
                </li>
                <li class="private-chat"> 
                    <span class="user-name">
                        Aleš
                    </span> 
                    <div class="user-text">
                        <ul class="private-messages-wrapper">
                            <li class="private-message"></li>
                            <li class="private-message"></li>
                            <li class="private-message"></li>
                            <li class="private-message"></li>
                        </ul>
                        <div class="input-field">
                            <input class="message private-chat-send" type="text" placeholder="Your message..">
                        </div>
                    </div> 
                </li>
            </ul>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script src="scripts/client/app.all.min.js"></script>
    </body>
</html>