//title - header
.header{
    //colors selection
    background-color:$blue-default;
    color:white;

    //border radius
    border-radius: inherit;

    //content styling
    padding:30px;
    margin-bottom:20px;
    text-align: center;
}