//materialize row doesnt take full width by default
.row{
    width:100%;
}
//messages and user list paddings
.messages,.users{
    padding:10px;
    width:100%;
    li{
        padding:20px;
    }
}

//users UL styling
.users{
    border:2px solid $gray-light;
    border-radius:10px;
    li{
        /*border-bottom: 2px solid $blue-default;*/
        border-radius: inherit;
        font-weight: bolder;
        font-size:1.1em;
        position: relative;

        &:hover{
            background-color:rgba(#eee,0.4);
            cursor: pointer;
        }
        &:not(:last-child){
            &:after{
                content:"";
                position: absolute;
                width:60%;
                height: 100%;
                top:0;
                left:20%;
                border-bottom: 2px solid $blue-default;
                background-color:transparent;
            }
        }
        
        /*&:not(:last-child){
            //last li no border
            border-bottom: none;
            &:after{
                content:"";
                display:block;
                width:90%;
                height: 2px;
                background-color:$blue-default;
                margin-left:auto;
                margin-right:auto;
            }
        }*/
    }
}
//messages styling
.messages{
    li{

        //border styling
        border-radius:20px;
        border:2px solid $gray-light;

        //margin bottom between messages
        margin-bottom:20px;

        //user name display
        .user-name{
            //block so can be aligned right or left
            display:block;

            //extra space from border
            padding-left:20px;
            padding-right:20px;

            //font size
            font-size:1.4em;

        }
        //different align every second item
        &:nth-child(2n){
            text-align: right;
            /*.user-name{
                text-align: right;
            }*/
        }
    }
}